body {
	background: #333;
	z-index: 99;
}

.carousel {
	background: #fff;
	border: #ddd;
	box-shadow: 3px 3px 15px #222;
	width: 600px;
	height: 300px;
	border: 1px solid gray;
	position: relative;
}

#left_con {
	left: 10px;
	top: 40%;
}

#right_con {
	right: 10px;
	top: 40%;
}

[id*='_con'], [class*='_con'] {
	position: absolute;
	cursor: pointer;
}

.point_con li {
	display: inline-block;
}

.point_con {
	bottom: 0px;
	left: 40%;
}

#img_1 { background-image: url('images/img_1.jpg'); }
#img_2 { background-image: url('images/img_2.jpg'); }
#img_3 { background-image: url('images/img_3.jpg'); }
#img_4 { background-image: url('images/img_4.jpg'); }
#img { background-image: url('images/img_1.jpg'); }


[id*='img']{
	width: 600px;
	height: 300px;
	position: absolute;
	background-size: cover;
}