body {
	font-family: sans-serif;
}
.inside_carousel {
	width: 600px;
	height: 300px;
	border: 1px solid gray;
	position: relative;
	overflow: hidden;
	box-shadow: 7px 7px 15px gray;
}

[id*='_A']{
	position: absolute;
	top: 40%;
	background: #ddd;
	padding: 10px;
	opacity: 0.5;
	cursor: pointer;
}
[id*='butt']{
	cursor: pointer;
}

#right_A { right: 0px; }
#left_A { left: 0px; }

#buttons li {
	display: inline-block;	
}
#buttons {
	position: absolute;
	bottom: 0px;
	left: 38%;
}

#img1 { background-image: url('images/img_1.jpg'); }
#img2 { background-image: url('images/img_2.jpg'); }
#img3 { background-image: url('images/img_3.jpg'); }
#img4 { background-image: url('images/img_4.jpg'); }

#images {
	position: absolute;
	margin: 0px;
	left: 0px;
	display: flex;
	padding: 0px;
	transition: all 0.5s ease;
	transition-timing-function: cubic-bezier(.36,.03,.66,.67);
}

ul#images li {
	display: inline-block;
}

[id*='img']{
	background-size: cover;
	height: 300px;
	width: 600px;
}

#buttons li {
	color: gray;
	opacity: 0.8;
}

.active{
	color: #fff;
}